@import "tailwindcss";

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}
